<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trancsaction History</title>
    <link rel="stylesheet" href="/transactionhistorystyle.css">
  </head>
  <body class="bg-[#eeeeee]">

    <div class="flex mt-2 justify-center bg-[#eeeeee] mb-20 ">    <!--Transaction History page-->
        <div class=" w-11/12">
    
          <%- include('./partials/adminprofile.ejs') %>

          <form id="myForm" action="transactionhistorybydate" method="post">
            <div class="flex justify-center py-5 "><!--date selector-->
            <div class="grid justify-items-center md:flex gap-2 bg-white border border-slate-300 py-2 px-3 ">
                <div class="text-black text-center self-center text-xl font-bold font-['Montserrat'] ">
                  Transaction History
                </div>
                  <div class="flex gap-2">
                    <div class="border border-slate-200">
                      <p class="text-black font-medium text-center">start</p>
                      <input type="date" id="startdate" name="startdate" required class="" >
                    </div>
                    
                    <div class="border border-slate-200">
                      <p class="text-black font-medium text-center">end</p>
                      <input type="date" id="enddate" name="enddate" required class="" >
                    </div>
                  </div>
                  <button >
                    <div class="p-1 md:p-2 bg-sky-500 hover:bg-sky-600 rounded justify-center items-center gap-2 flex">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Zm3.75 11.625a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                      </svg>                      
                      <div class="text-white text-base font-medium md:font-semibold font-['Montserrat'] leading-normal">Query Transaction</div>
                    </div>
                  </button>
                
              </div>
            </div>
          </form>
          
            <% var profittotal = 0; %>
            <% var soldtotal = 0; %>
                <div class="flex justify-center  "><!--transaction table-->
            <div class="w-full h-96 lg:w-11/12 overflow-auto border-l border-r border-t  border-slate-300 bg-white px-5 py-1">
              <div class="text-black text-xl font-bold font-['Montserrat'] leading-[30px]">
                Transactions
              </div>

              <div class="w-[900px] md:w-[1070px] ">
              <table class="table-auto text-md">
              <thead>
                <tr class="text-slate-500 pb-40">
                  <th class="w-[13%] text-start">Name</th>
                  <th class="w-[13%] text-start">model</th>
                  <th class="w-[10%] text-start">Comment</th>
                  <th class="w-[10%] text-start">Date</th>
                  <th class="w-[10%] text-start">Type</th>
                  <th class="w-1/12 text-start">Quantity</th>
                  <th class="w-[13%] text-start">Purchased Price</th>
                  <th class="w-[9%] text-start">Sold Price</th>
                  <th class="w-[8%] text-start">Total</th>
                  <th class="w-[8%] text-start">Profit</th>
                  <th class="w-[12%] text-start">Image</th>
                </tr>
              </thead>
              <tbody class="text-sm font-medium">
                <% if (itemlist.length > 0) { %>
                  <% itemlist.forEach(item => { %>
                    <% profittotal += (item.soldprice-item.purchasedprice) * item.quantity %>
                    <% soldtotal += item.soldprice * item.quantity %>
                    <tr data-id = "<%= JSON.stringify(item)  %>">
                      <td> <%= item.name %> </td>
                      <td> <%= item.model %> </td>
                      <td> <%= item.comment %> </td>
                      <td> <%= item.updatedAt.toISOString().slice(0,10) %>  </td>
                      <td> <%= item.type %> </td>
                      <td> <%= item.quantity %> </td>
                      <td> <%= item.purchasedprice %> </td>
                      <td> <%= item.soldprice %> </td>
                      <td> <%= item.soldprice * item.quantity %> </td>
                      <td> <%= (item.soldprice - item.purchasedprice) * item.quantity %> </td>
                      <td><img class="w-14" src="assets/download.jfif" alt=""></td>
                      <td class="hidden"><%=item._id%></td>
                    </tr>
                  <% }) %>
                <% } else { %>
                  <tr>
                    <td></td>
                    <td>No Data To Display</td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>
            </div>
          </div>
          <div class="flex justify-center mb-20">
            <div class="w-11/12 border-l border-r border-b border-slate-300 bg-white md:pl-8">
              <hr class="w-full h-px mx-auto bg-gray-100 border-0 rounded  dark:bg-gray-400">
            <div class="flex justify-end my-2 ">
              <div class="w-40 font-normal text-md">
                Total for the selected day(s).
              </div>
              <div class="mx-2 md:mx-4 font-medium md:font-semibold text-md lg:text-lg">
                Sold Total
                <div >
                  $<%= soldtotal %>
                </div>
              </div>
              <div class="mr-3 md:mr-10 font-medium md:font-semibold text-md lg:text-lg">
                Profit Total
                <div>
                  $<%= profittotal %>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <script src="/togglemenu.js"></script>
  </body>
</html>