<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Products</title>
    <link rel="stylesheet" href="/updateproductsstyle.css">
  </head>
  <body class="bg-[#eeeeee]">
    
        <div class="flex mt-2 justify-center mb-20 ">    <!--Update Products page-->
            <div class=" w-11/12">

                <%- include('./partials/adminprofile.ejs') %>

                <div class="flex justify-center py-2 md:py-5"><!--search box-->
                    <div class=" h-15 bg-white border border-slate-300">
                        <div class="md:flex p-2 gap-2">
                            <div class="md:flex md:items-center text-black text-xl text-center font-bold font-['Montserrat'] leading-[30px]">
                                Update Product
                            </div>
                            <div class="text-slate-400 text-xl relative font-normal font-['Montserrat'] leading-[30px] ">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 absolute left-2 top-1/2 transform -translate-y-1/2 ">
                                    <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd" />
                                </svg>
                                <input id="search" name="search" type="search" autocomplete="search" 
                                    required class="w-full md:w-52 lg:w-64 xl:w-72 h-12 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 px-10 rounded-lg border border-solid shadow-sm bg-white bg-opacity-60 border-sky-200 placeholder-slate-500 placeholder:text-md placeholder:font-light font-medium text-md text-black" 
                                    placeholder="Search"  >  
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="flex justify-center max-h-96 md:max-h-72"><!--inventory table-->
                    <div class="w-full md:w-11/12 overflow-auto  border border-slate-300 bg-white px-5 py-1">
                      <div class="text-black text-xl font-bold font-['Montserrat'] leading-[30px]">
                        Products
                      </div>
                      <div class="w-[800px] sm:w-[800px] md:w-[1050px] ">
                      <table id="inventorytable" class=" table-auto text-md">
                      <thead>
                        <tr class="text-slate-500 pb-40">
                          <th></th>
                          <th class="w-2/12 text-start">Name</th>
                          <th class="w-2/12 text-start">Model</th>
                          <th class="w-[15%] text-start">Date</th>
                          <th class="w-[12%] text-start">Type</th>
                          <th class="w-1/12 text-start">Quantity</th>
                          <th class="w-[14%] text-start">Purchased Price</th>
                          <th class="w-[12%] text-start">Selling Price</th>
                          <th class="w-[12%] text-start">Image</th>
                          <th></th>
                        </tr>
                      </thead>
                          <tbody class="text-sm font-medium">
                          <% if (itemlist.length > 0) { %>
                            <% itemlist.forEach(item => { %>
                              
                              <tr data-id = "<%= JSON.stringify(item)  %>">
                                <td ><input type="radio" id="addtoselectedtable" name="addtoselectedtable" class="mr-3">
                                </td>
                                <td> <%= item.name %> </td>
                                <td> <%= item.model %> </td>
                                <td> <%= item.date.toISOString().slice(0,10) %> </td>
                                <td> <%= item.type %> </td>
                                <td> <%= item.quantity %> </td>
                                <td> <%= item.purchasedprice %> </td>
                                <td> <%= item.sellingprice %> </td>
                                <td><img class="w-14" src="assets/download.jfif" alt=""></td>
                                <td class="hidden"><%=item._id%></td>
                              </tr>
                            <% }) %>
                          <% } else { %>
                            <tr>
                              <td></td>
                              <td>No Data To Display</td>
                            </tr>
                            <% } %>
                        </tbody>
                      
                    </table>
                  </div>
                    </div>
                  </div>
            

    <form id="form" action="" method="post">
        <div class="md:flex justify-center mt-2 md:mt-5 mb-20"> <!--add new product form-->
            <div class="w-full md:w-11/12 border border-slate-300 bg-white p-3 md:py-5 md:px-10">
                <div class="md:flex justify-around gap-5 text-slate-500 text-lg font-bold font-['Montserrat']">
                    
                <div class="justify-center ">
                <div >Product Name</div>
                <input id="name" name="name" type="text" autocomplete="name" required 
                    class="w-full xl:w-72  focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 px-5 py-3 mt-2  rounded-lg border border-solid shadow-sm bg-white bg-opacity-60 border-zinc-300 placeholder-slate-500 placeholder:text-sm placeholder:font-normal font-medium text-md text-black" 
                    placeholder="product name"  >
                <div >Product Model</div>
                <input id="model" name="model" type="text" autocomplete="name" required 
                    class="w-full xl:w-72 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 px-5 py-3 mt-2  rounded-lg border border-solid shadow-sm bg-white bg-opacity-60 border-zinc-300 placeholder-slate-500 placeholder:text-sm placeholder:font-normal font-medium text-md text-black" 
                    placeholder="product model"  >
                <div >Purchased Price</div>
                <input id="purchasedprice" name="purchasedprice" type="number" autocomplete="cc-number" required 
                class="w-full xl:w-72  focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 px-5 py-3 mt-2  rounded-lg border border-solid shadow-sm bg-white bg-opacity-60 border-zinc-300 placeholder-slate-500 placeholder:text-sm placeholder:font-normal font-medium text-md text-black" 
                placeholder="$0.00"  >

                </div>
                <div class="justify center">

                <div>Selling Price</div>
                <input id="sellingprice" name="sellingprice" type="number" autocomplete="cc-number" required 
                    class="w-full xl:w-72  focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 px-5 py-3 mt-2  rounded-lg border border-solid shadow-sm bg-white bg-opacity-60 border-zinc-300 placeholder-slate-500 placeholder:text-sm placeholder:font-normal font-medium text-md text-black" 
                    placeholder="$0.00"  > 

                <div>Product Type</div>
                <input id="type" name="type" type="text" autocomplete="name" required 
                    class="w-full xl:w-72  focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 px-5 py-3 mt-2  rounded-lg border border-solid shadow-sm bg-white bg-opacity-60 border-zinc-300 placeholder-slate-500 placeholder:text-sm placeholder:font-normal font-medium text-md text-black" 
                    placeholder="charger"  >

                <div>Quantity</div>
                <input id="quantity" name="quantity" type="number" autocomplete="cc-number" required 
                    class="w-full xl:w-72  focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 px-5 py-3 mt-2  rounded-lg border border-solid shadow-sm bg-white bg-opacity-60 border-zinc-300 placeholder-slate-500 placeholder:text-sm placeholder:font-normal font-medium text-md text-black" 
                    placeholder="1"  >
                </div>
                <div class="justify-center">
                <div>Date</div>
                <input id="date" name="date" type="date" required 
                    class="w-full xl:w-72 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 px-5 py-3 mt-2  rounded-lg border border-solid shadow-sm bg-white bg-opacity-60 border-zinc-300 placeholder-slate-500 placeholder:text-sm placeholder:font-normal font-medium text-md text-black" 
                    placeholder=""  >

                <div>Image</div>
                <input id="image" name="image" type="file"
                    class="w-full xl:w-72 focus:outline-none focus:ring-sky-500 focus:border-sky-500 focus:z-10 px-5 py-3 mt-2  rounded-lg border border-solid shadow-sm bg-white bg-opacity-60 border-zinc-300 placeholder-slate-500 placeholder:text-sm placeholder:font-normal font-medium text-md text-black" 
                    placeholder=""  >
                    <input class="hidden" id="id" name="id" value="">

                <div class="flex md:flex-col py-2 gap-2 justify-center md:ml-10 ">
                <div>
                <button id="postbutton" class="enabled:bg-violet-700 enabled:hover:bg-violet-800 disabled:bg-gray-400 rounded">
                <div class="p-1 md:p-2 justify-center items-center gap-2 flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                    class="w-6 h-6 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <div class="md:w-32 text-center text-white text-base font-medium md:font-semibold font-['Montserrat'] leading-normal">Update Product</div>
                </div>
                </button>
                </div>
                <div>
                <button id="deletebutton" class="enabled:bg-pink-600 enabled:hover:bg-pink-700 disabled:bg-gray-400 rounded">
                <div class="p-1 md:p-2 justify-center items-center gap-2 flex">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                    class="w-6 h-6 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <div class="md:w-32 text-center text-white text-base font-medium md:font-semibold font-['Montserrat'] leading-normal">Delete Product</div>
                </div>
                </button>
                </div>
                </div>
                </div>
                
                </div>
            </div>
        </div>
    </form>
    </div>
    </div>     
        <script src="/updateproductsscript.js"></script>
        <script src="/togglemenu.js"></script>
    </body>
</html>


        